.contact-form-container {
    max-width: 500px;
    min-width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}
.create-head{
    text-align: center;
    color: rgb(61, 61, 61);
}

.contact-form {
    margin: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(61, 61, 61);
}

input {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=text]:focus {
    border: 2px solid #007bff;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}




.status-radio {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}